
/* ****common**** */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ******body***** */

/* ******header***** */

header.top{
    height: 80px;
    background-color: rgb(216, 159, 216);
    margin-bottom: 20;
}



/* ******main***** */

/* ******footer***** */